<div class="pattern"> <p class="pattern-container" id="pattern-container-about"> </p> <img src="./images/about/iconabout.png" id="top-right-icon" style="position:fixed; opacity:0.9; top:140px; right: 0px; margin-right:50px"> </div> <script>$( document ).ready(function() {
	  	var pattern_container_length = $('#pattern-container-about').width();
	  	var width_of_element = 60;
	  	var numOfElements = pattern_container_length / width_of_element;
	  	for (var i=0; i<numOfElements-2; i++) {
	  		$('#pattern-container-about').append('<span><img src="../images/about/svg5.a0d7d995.svg" id="marker6" width="60px"/></span>');
	  	}
	});

	$( window ).resize(function() {
		$('#pattern-container-about span').remove();
	  	var pattern_container_length = $('#pattern-container-about').width();
	  	var width_of_element = 60;
	  	var numOfElements = pattern_container_length / width_of_element;
	  	for (var i=0; i<numOfElements-2; i++) {
	  		$('#pattern-container-about').append('<span><img src="../images/about/svg5.a0d7d995.svg" id="marker6" width="60px"/></span>');
	  	}
	});</script>